html {
  background-color: #030712 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  scroll-behavior: smooth !important;
}

  body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
     font-style: normal;
    background-color: #121212;
    max-width: 1280px;
    min-width: 320px; 
    margin: 0 auto;
    overflow-x: hidden;
  }